/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
/*checkbox Style*/

/* Checkbox solo lectura */
.chk-activo.readonly input {
    accent-color: #dc3545; /* rojo */
    pointer-events: none; /* mouse */
}

/* verde cuando está activo */
.chk-activo.readonly input:checked {
    accent-color: #198754;
}

/* evita foco por teclado */
.chk-activo.readonly {
    user-select: none;
}